
.azeret-mono-normal{
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}
*{
    margin: 0;
    padding: 0;
}



/* Shared */
.clr{
    color: #0D1321;
}
.btn{
    padding: 0px;
    font-size: 20px;
    font-weight: 600;
    margin: 0px;
    border-radius: 8px;
    width: 260px;
    height: 60px;
    cursor: pointer;
    font-family: Azeret Mono;
}


#hero{
    background-image: url("../assets/Hero-bg.png");
    background-size: cover;
    background-position: center;
    max-width:100%;
    height: 100%;
    left: 0;
    right: 0;
    top: 131px;
    bottom: 4462px;
}
#hero .content{
/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;
margin: 32px 200px 45px;
}

#upper-head{
    display:flex;
    justify-content: space-between;
}
#name{
    margin: 40px 100px 0px 125px;
    font-size: 28px;
    font-weight: 800;    
}
#DR{
    margin: 40px 150px 0px 900px;
    font-size: 28px;
    font-weight: 800;
}

#group-img{
    margin: 32px, 0px, 32px, 0px;
    padding: 0px;
    text-align: center;

}
.hero-para{
    margin: 32px 200px 32px;
    text-align: center;
}
.head1{
    margin: 32px 0px 32px;
    font-size: 48px;
    font-weight: 800;
    text-align: center;
    width: 1040px;
    height: 180px;
}
.para{
    margin: 26px 73px 0px;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    width: 880px;
    height: 55px;
}

#hero .content .blk-btn{
    margin: 32px 380px;
    background-color: #0D1321;
    color: white;
    height: 70px;
    width: 280px;    
}

/* .container{
    margin: 160px 260px 0px 260px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */




